# Pastikan line ending composer.lock selalu LF
composer.lock text eol=lf

# Untuk file PHP dan text lainnya (opsional)
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
* text=auto
*.scss text eol=lf
*.js text eol=lf
CHANGELOG.md export-ignore
